pc/support/simplews/simplews/Debug/simplews.exe
*.ilk
pc/support/simplews/simplews/Debug/simplews.pdb
*.opensdf
pc/support/simplews/simplews/simplews.sdf
*.obj
pc/support/simplews/simplews/simplews/Debug/cl.command.1.tlog
*.tlog
*.log
pc/support/simplews/simplews/simplews/Debug/vc110.idb
*.pdb
pc/support/simplews/simplews/ipch/simplews_test-5d886fee/simplews_test-410e1dff.ipch